schemas/form.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.arcadsoftware.com/1.0.0/console/form.xsd" xmlns="http://xml.arcadsoftware.com/1.0.0/console/form.xsd" elementFormDefault="unqualified">
	<xsd:element name="list">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded" minOccurs="0">
				<xsd:element name="set" type="widgetType" />
				<xsd:element name="text" type="widgetType" />
				<xsd:element name="action">
					<xsd:complexType>
						<xsd:attribute name="label" type="xsd:string" use="optional" />
						<xsd:attribute name="help" type="xsd:string" use="optional" />
						<xsd:attribute name="icon" type="xsd:int" use="optional" />
						<xsd:attribute name="hidden" type="xsd:boolean" use="optional" default="false" />
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="property" type="fieldType" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="widgetType">
		<xsd:attribute name="label" type="xsd:string" use="optional" />
		<xsd:attribute name="help" type="xsd:string" use="optional" />
		<xsd:attribute name="icon" type="xsd:int" use="optional" />
	</xsd:complexType>
	
	<xsd:complexType name="fieldType">
		<xsd:sequence minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="string" type="xsd:string" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required" />
		<xsd:attribute name="label" type="xsd:string" use="optional" />
		<xsd:attribute name="help" type="xsd:string" use="optional" />
		<xsd:attribute name="icon" type="xsd:int" use="optional" />
		<xsd:attribute name="default" type="xsd:string" use="optional" />
		<xsd:attribute name="password" type="xsd:string" use="optional" />
		<xsd:attribute name="readonly" type="xsd:boolean" use="optional" default="false" />
		<xsd:attribute name="hidden" type="xsd:boolean" use="optional" default="false" />
	</xsd:complexType>
</xsd:schema>